Source: artwork-nsls2
Section: artwork
Priority: optional
Maintainer: Stuart B. Wilkins <swilkins@bnl.gov>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.4.1
Homepage: https://github.com/NSLS-II/artwork
Vcs-Browser: https://github.com/NSLS-II/artwork
Vcs-Git: https://github.com/NSLS-II/artwork.git

Package: artwork-nsls2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Wallpaper and Artwork for NSLS-II
    Artwork for NSLS-II beamlines, including scripts for setting
    wallpaper on different desktops on startup
