#!/usr/bin/make -f
export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_install:
	$(MAKE) DESTDIR=$$(pwd)/debian/artwork-nsls2 \
	        prefix=/usr \
			sysconfdir=/etc \
			libexecdir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH) \
			install
